/* goggle font lexend */
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {

    /* colors */
  
    --oxford-blue_60: hsla(224, 34%, 13%, 0.6);
    --green-pigment: hsl(142, 76%, 36%);
    --oxford-blue: hsl(224, 34%, 13%);
    --maximum-red: hsl(0, 72%, 51%);
    --eerie-black: hsl(0, 0%, 9%);
    --mint-cream: hsl(146, 41%, 97%);
    --cadet-gray: hsl(215, 20%, 65%);
    --light-gray: hsl(216, 12%, 84%);
    --carcoal_20: hsla(214, 19%, 29%, 0.2);
    --carcoal_15: hsla(214, 19%, 29%, 0.15);
    --carcoal_10: hsla(214, 19%, 29%, 0.10);
    --sea-green: hsl(142, 72%, 29%);
    --gainsboro: hsl(220, 13%, 91%);
    --white_70: hsla(0, 0%, 100%, 0.7);
    --gunmetal: hsl(215, 28%, 17%);
    --manatee: hsl(218, 11%, 65%);
    --mango: hsl(43, 96%, 56%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
  
  
    --fw-600: 600;
    --fw-500: 500;
  
    /*shadow*/
  
    --shadow-1: 0 1px 2px hsla(0, 0%, 0%, 0.2);
    --shadow-2: 0 10px 15px -5px var(--carcoal_20);
    --shadow-3: 0 10px 25px -3px var(--carcoal_20);
    --shadow-4: 0 0 3px var(--carcoal_15);
    --shadow-5: 0 20px 25px -5px var(--carcoal_10),
                0 10px 10px -5px var(--carcoal_10);
  
    /*border radius*/
  
    --radius-16: 16px;
    --radius-12: 12px;
    --radius-6: 6px;
    --radius-4: 4px;
  
    /*transition*/
  
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

    --body-font: "Lexend", serif;
  
}
  
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
li {
     list-style: none; 
}
  
a{
    text-decoration:  none;
}

  
img { height: auto; }
  
input,
select,
button {
    /* background: none; */
    /* border: none; */
    font-family: inherit;
}
  
input,
select { 
    border: 1px solid var(--black);
}
  
button { cursor: pointer; }
  
ion-icon { pointer-events: none; }
  
address { font-style: normal; }
  
html {
    scroll-behavior: smooth;
}
  
body {
    background-color: var(--white);
    font-family: var(--body-font);
    line-height: 1.5;
}
  
  
  
  
  
  /*-----------------------------------*\
    #REUSABLE STYLE
  \*-----------------------------------*/
  
.container{
    /* max-width: 1024px; */
    margin-right: 1.5rem;
    margin-left:1.5rem;
}


.btn{
    padding: .75rem 1.5rem;
}

section{
    padding: 4.5rem 0 2rem;
}

/* header */
header{
    padding: 1rem 0;
    background-color: var(--white);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.nav__item{
    color: var(--black);
    font-size: 13px;
    transition: .4s;
}

.sign-up{
    background: var(--sea-green);
    color: var(--white);
    display: block;
}


.logo{
    color: var(--black);
    font-size: 1.175rem;
    font-weight: var(--fw-600);
}

.logo span{
    color: var(--green-pigment);
}

.toggle{
    display: none;
}


.nav__list{
    display: flex;
    align-items: center;
}


.nav__item:hover{
    color: var(--green-pigment);
}

.sign-up:hover{
    border: 1px solid var(--green-pigment);
    background: var(--white);
    color: var(--black);
}
@media screen and (max-width: 767px){
    .toggle{
        display: block;
    }


    .remove{
        display: none !important;
    }

    .toggle i{
        font-size: 1.5rem;
    }
    
    
    .nav__list{
        display: flex;
        align-items: flex-start;
        position: fixed;
        z-index: 1000;
        top: -100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: var(--white);
        flex-direction: column;
        row-gap: 1rem;
        padding: 1.5rem;
        box-shadow: var(--shadow-4);
        transition: .7s;
    }

}


.show__menu{
    top: 4rem;
}

.none{
    display: none !important;
}

.nav__list{
    display: flex;
    column-gap: 2rem;
}



.hero__bg{
background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 85vh;
}

.hero__title{
    font-size: 3rem;
    width: 60%;
    padding-bottom: 1rem;
}

.hero__description{
    position: absolute;
    top: 40%;
    color: var(--white);
    padding: 0 2rem;
}

.hero__data{
    width: 50%;
    font-size: 14px;
}


@media screen and (max-width:567px) {
    .hero__description{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .hero__title{
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
    }

    .hero__data{
        width: 90%;
        text-align: center;
    }
}



.green{
    color: var(--green-pigment);
}

.hero__inputField{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 3rem;
    padding: 2rem 3rem;
    width: 80%;
    margin: -5rem auto 0;
    background-color: var(--white);
    box-shadow: var(--shadow-2);
}

.search__input .form__tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__tab .tab{
    font-size: 13px;
    cursor: pointer;
}


.btn-search{
    display: block;
    margin-top: 1rem;
}

.hero__inputField label{
    display: block;
    font-size: 13px;
    font-weight: var(--fw-600);
    padding-bottom: 10px;
}

.btn-search{
    background: var(--green-pigment);
    color: var(--white);
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 60px;
}


.search{
    position: relative;
    margin-bottom: 1rem;
}

.search__icon{
    position: absolute; 
    left: 5px;
    font-size: 1.3rem;
    top: 10px;
}

.search__input p{
    font-size: 13px;
    font-weight: var(--fw-600);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

input{
    padding: 10px 30px;
    font-family: var(--body-font);
    font-size: 13px;
}


select{
    background: var(--white);
    outline: none;
    border: 1px solid var(--black);       
}

input::placeholder{
    font-size: 13px;
}

.active{
    background: var(--green-pigment);
    padding: 8px 20px;
    color: var(--white);
}

select,
option{
    /* top | left and right | bottom */
padding: 10px 80px 10px 5px;
}

select:focus{
    border: 1px solid var(--green-pigment);
}

/* media queries for smaller screen */
@media screen and (max-width:1170px){
    .hero__inputField{
        grid-template-columns: repeat(2, 1fr) !important;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: -7em auto 0;
        row-gap: 1rem;
    }

    input,
    select,
    option,
    button{
        width: 100%;
    }
}

@media screen and (max-width: 718px) {
    .hero__inputField{
        grid-template-columns: repeat(1, 1fr) !important;
        align-items: center;
        justify-content: center;
        row-gap: 0;
    }

    input, 
    select,
    option,
    button{
        width: 100%;
    }


    label{
        padding-top: 1rem;
    }
}


.grid{
    display: grid;
    grid-template-columns: .7fr 1fr;
    align-items: center;
    gap: 50px;
}


.about__img{
    border-radius: var(--radius-16);
    width: 400px;
}

.about__text{
    width: 100%;
}
.about__title{
    font-size: 2rem;
    width: 60%;
}

.about__description{
    width: 90%;
    line-height: 2;
    font-size: 14px;
    color: var(--cadet-gray);
}


/* media queries for about */
@media screen and (max-width: 718px) {
    .grid{
        grid-template-columns: 1fr;
    }

    .about__img{
        width: 100%;
    }

    .about__title{
        font-size: 1.5rem;
        width: 90%;
    }
}